<!DOCTYPE html>
<html>
  <head>
    <!-- ページタイトル -->
    <title>夢のメモ書き</title>

    <!-- メタ情報 -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- OGPメタタグ -->
    <meta property="og:title" content="ディズニーを計画的に回りたい人へ！" />
    <meta property="og:description" content="ディズニーを隅々まで楽しみたい人へのプランニングwebアプリです" />
    <meta property="og:image" content="https://schedule-g574.onrender.com/assets/OGP_image-7f2d65d606caf942d84a0ab6ead18d15f40ea1bcbe59d383526948da56244132.png" />
    <meta property="og:url" content="https://schedule-g574.onrender.com" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="夢のメモ書き" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- リンクタグ -->
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="<%= asset_path('Favicon.png') %>" type="image/png">
    <link rel="apple-touch-icon" href="<%= asset_path('Favicon.png') %>">

    <!-- スタイルシートとJavaScript -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
  </head>

  <body>
  <% if flash[:notice] %>
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
      <span class="block sm:inline"><%= flash[:notice] %></span>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <span class="block sm:inline"><%= flash[:alert] %></span>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
